
*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 300px;
    display: block;
    background-image: url("https://img.freepik.com/fotos-premium/pao-italiano-fresco_100488-1139.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

header h1{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px white;
    color: black
    display: block;
    float: left;
    width: 700px;
    margin-left: 550px;
    padding-top: 150px;
}

body{
    background-color:sandybrown;
}
.menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

main article{
    width: 90%;
    height: auto;
    display: block;
    margin-left: 10%
}

main article h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    padding-right: 15%;
    color: white;
    line-height: 38px;
}

main article h3{ 
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    padding-right: 15%;
    text-shadow: 1px 1px black;
    color: white;
}

.menu div{
    display: block;
    background-color: sienna;
    margin: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.menu div img{
    width: 150px;
    height: 150px;
    width: 80%;
}